@import "./variables.scss";

// 14, 21, 28, 35, 42, 49, 56, 63

.title {
  font-size: base(24px);
}

.title1 {
  @extend .title;
  color: $white;
  margin-bottom: base(0px);
}

.title2 {
  @extend .title;
  color: $black;
  margin-top: 0;
  margin-bottom: base(7px);

  @media (min-width: $m) {
    font-size: base(35px);
  }

  @media (min-width: $xm) {
    font-size: base(56px);
  }

  @media (min-width: $l) {
    font-size: base(42px);
  }

  @media (min-width: $xl) {
    font-size: base(56px);
  }
}

.title3 {
  @extend .title;
  color: $black;
  font-size: base(14px);
  margin-top: 0;
  margin-bottom: base(7px);

  @media (min-width: $m) {
    font-size: base(18px);
  }
}

.author {
  font-weight: normal;
}

.author1 {
  @extend .author;
  // font-size: base(14);
  margin-top: 0;
  color: $white;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.author2 {
  @extend .author;
  // font-size: base(14);
  margin: 0;
}

.author3 {
  @extend .author;
  font-size: base(10px);
  margin: 0;

  @media (min-width: $m) {
    font-size: base(14px);
  }
}

.link {
  font-size: base(9px);
  font-weight: 700;
  letter-spacing: 1.93px;
  text-transform: uppercase;
  padding: 0.5em 0 0.5em 0.5em;
  cursor: pointer;
  transition: all 0.2s ease;
  text-decoration: none;
  color: $gray;

  @media (min-width: $m) {
    font-size: base(12px);
    letter-spacing: 2.57px;
  }

  &:hover {
    color: $black;
  }
}

.link1 {
  @extend .link;
  letter-spacing: 1.93px;
}

.link2 {
  @extend .link;
  text-decoration: underline;
}

.display {
  color: $veryLightGray;
  font-size: base(100px);
  margin: 0;
  text-align: right;

  @media (min-width: $m) {
    text-align: left;
    font-size: base(200px);
  }

  @media (min-width: $l) {
    text-align: right;
  }
}

.close {
  letter-spacing: 3px;
  color: $white;
  text-transform: uppercase;
  border: none;
  outline: none;
  background: transparent;
  font-family: "Libre Baskerville", serif;
  cursor: pointer;
  padding: 0.5em 0 0.5em 0.5em;
  font-weight: 700;
  font-size: (14px);
  letter-spacing: 3px;
}

.container {
  padding: 0 $xPad;

  @media (min-width: $m) {
    padding: 0 $xPadM;
  }

  @media (min-width: $l) {
    padding: 0 $xPadL;
  }
}

.wrapper {
  height: 100%;
  width: 100%;
  max-width: 1360px;
  margin: $xPad auto;

  @media (min-width: $m) {
    margin: $xPadM auto;
  }

  @media (min-width: $l) {
    margin: $xPadL auto;
  }
}
